.jumbotron {
  background-image: url("../images/crysbg.jpg");
  background-size: cover;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.main-section {
    padding:2rem 1rem;
}

p {
    margin:0px;
    
}


h4 {
    margin-top:25px;
}
h1 {
    margin-top:1px;
}

.display {
  height: 130px;
}

.crystal-image {
  background-size: cover;
  background-position: center center;
  height:250px;
  /* width: 90%; */
  margin: 0px;
}


.crystal1 {
  background-image: url(../images/crystal1.jpg);
  margin-right:20px;
  margin-left:13%;
  border: 1px solid #563d7c;

 
 

}
.crystal2 {
  background-image: url(../images/crystal2.jpg);
  margin-right:20px;
  border: 1px solid #563d7c;

 
}
.crystal3 {
  background-image: url(../images/crystal3.jpg);
  margin-right:20px;
  border: 1px solid #563d7c;

 
  
}
.crystal4 {
  background-image: url(../images/crystal4.jpg);
  margin-right:20px;
  border: 1px solid #563d7c;
 
}

.variable-display {
    background: #e9ecef;
    border: 1px solid #ffffff;
    height: 100px;
    margin-bottom: 35px;
    text-align:center;
    padding-top:10px;
    color:#1f1f1f;
    font-weight:bold;

}


.number-display {
    font-size: 35px;
}
.score-display {
    font-size: 35px;
}
.win-display {
    font-size: 35px;
}
.loss-display {
    font-size: 35px;
}

.bg-light {
  background-color: #FFF!important;
}